body {
  font-family: 'Kalam', cursive;
  font-size: 16px;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
  cursor: pointer;
}

.description {
  white-space: pre-wrap;
}

.jumbotron {
text-align: center;
color: black;
border-left: 1px solid black;
padding: 10px;
background-color:lightgoldenrodyellow;
}

.time-block {
  border-radius: 15px;
}

.row {
  border-top: 1px solid white;
}

.hour {
  background-color: white;
  color: #000000;
 
}

.past {
  background-color:black ;
  border: 2px solid black;
 
}

.past > textarea{
  color: yellow;
}

.present {
  background-color: orange;
  border: 2px solid black;
}

.future {
  background-color: yellow;
  border: 2px solid black;
}

.saveBtn {
  border: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: lightgoldenrodyellow;
  color: blue;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
  color: orange;
}
